@model NewsForums.Models.Home.HomeIndexModel

<p>Learn and share your knowledge with others people</p>
<div>
    <form asp-controller="Search" asp-action="Search" method="post">
        <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Search ..." />
    </form>
</div>

<h3 id="latestPosts">Latest Posts</h3>
<table class="table table-hover">
    <tbody>
        @foreach (var post in Model.LatestPosts)
        {
            <tr>
                <td>
                    <div class="forumLogo">

                    </div>
                    <div class="postTitle">
                        <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                            @post.Title

                        </a>
                    </div>
                    <div class="postSubTitle">
                        @if (post.RepliesCount == 1)
                        {
                            <span>@post.RepliesCount Reply</span>
                        }
                        @if (post.RepliesCount == 0)
                        {
                            <span>No Replies</span>
                        }
                        else
                        {
                            <span>@post.RepliesCount Replies</span>
                        }


                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>